using 'template.bicep'

param deploymentName = /* Deployment name */

param imageRef =  {
  publisher: 'MicrosoftWindowsServer'
  offer: 'WindowsServer'
  sku: '2025-datacenter-core-smalldisk-g2'
  version: 'latest'
}

param location = /* Location */

param username = /* OS account username */
param password = /* OS account password */
