using 'template.bicep'


param imageRef =  {
  publisher: 'MicrosoftWindowsServer'
  offer: 'WindowsServer'
  sku: '2022-datacenter-azure-edition-hotpatch-smalldisk'
  version: 'latest'
}

param location =  /* Resource location */

param password =  /* Password for the VM */

param rgName =  /* Resource group name */

param username = /* Username for the VM */
