using 'template.bicep'

param location = 'southeastasia'

param username = ''
param password = ''
param imageRef = {
  publisher: 'MicrosoftWindowsServer'
  offer: 'WindowsServer'
  sku: '2012-r2-datacenter-smalldisk-g2'
  version: 'latest'
}

param deploymentName = ''
